@import "../../theme/variables.scss";

.appContainer {

}

.pageContainer {
  min-height: 500px;
  margin: 50px 0; // for fixed navbar
  position: relative;
}

.notifications {
  margin: 15px 0;
}

:global(.form-control-feedback) {
  text-align: inherit;
}
